[submodule "third_party/hsthrift"]
	path = third_party/hsthrift
	url = https://github.com/facebookincubator/hsthrift
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/facebook/zstd
[submodule "third_party/test_suite"]
	path = third_party/test_suite
	url = https://github.com/elementai/test-suite-sql-eval
[submodule "third_party/spider"]
	path = third_party/spider
	url = https://github.com/elementai/spider
